body {
    margin: 0;
    text-align: center;
}

img {
    border-radius: 50%;
    height: 200px;
    margin-top: 100px;
}

.line {
    height: 8px;
    background-color: black;
    width: 70px;
    margin: 40px auto;
}

p {
    font-size: 17px;
}

#welcome {
    background:linear-gradient(#22c1c3, #fdbb2d);
    z-index: 9;
}

#menu {
    list-style: none;
    top: 10px;
    right: 30px;
    cursor: pointer;
    position: fixed;
    z-index: 10;
}

.link:hover {
    background-color: aquamarine;
}

.link {
    float: left;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: serif;
    font-size: 20px;
}
